

.selection_bar{
    width: 100%;
    height: 50px;
    background:#C6CBEF ;
    display: inline-block;
    vertical-align:middle;
    text-align: end;
    overflow-y: hidden ;
    
    }
    
    .selection_bar p{
        text-align: left;
        width: 20%; 
        display: inline-block;  
        margin-top: 5px; 
        margin-right: 75%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    

    .selection_bar button{
        padding: 5px;
        border-width: 0px;
        margin-right: 10px;
        background-color: red;
    }
  
    
    .content_area{
        margin: 10px 20px;
        width: 96%;
        height: 500px;
        background:#C6CBEF ;
        scrollbar-width: none;
        overflow: scroll;
    
    }

    .content_area .filtre{
        display: inline;
        margin-left: 10%;

    }

    .content_area .filtre form{
        display: inline;
    }
    

  
    
    .content_area .content_table{
        width: 100%;
    }
    
    
    
    
    .content_area .content_table tbody tr:nth-child(even){
        background-color: #16213e1e
    
      }
    
      
    
    
    
      .content_area .content_table tbody td{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px ;
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
      }
    
      


    
    

    #red_color{
        color: red;
    }

    #green_color{
        color: green;
    }

    #content {
    text-align: left;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }